@model IEnumerable<MeuSiteEmMVC.Models.Endereco>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Endereços</h2>
        <a asp-action="Criar" class="btn btn-primary">Adicionar Endereço</a>
        </div>

        <table class="table table-striped">
   
            <thead>
                <tr>
                    <th>CEP</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>Ações</th>       

                </tr>
            </thead>
            <tbody>
                @foreach (var endereco in Model)
                {
                    <tr>
                        <td>@endereco.Cep</td>
                        <td>@endereco.Logradouro</td>
                        <td>@endereco.Numero</td>
                        <td>@endereco.Bairro</td>
                        <td>@endereco.Cidade</td>
                        <td>@endereco.Uf</td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@endereco.Id" class="btn btn-sm btn-warning">Editar</a>
                            <a asp-action="Deletar" asp-route-id="@endereco.Id" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                    </tr>
            }

            </tbody>

        </table>


    </div>

  
